/* transition-timing-function: cubic-bezier(1,-0.01,.63,.72); */
/* transition-timing-function: cubic-bezier(1,-0.03,.59,.79) */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.noto-serif {
  font-family: 'Noto Serif', serif;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}
